*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}
.nav .d1{
    width: 50%;
}
.nav .d1 img{
    height: 70px;
    width: 300px;
    padding-left: 100px;
}
.nav .d2 {
    width: 50%;
    
}
.nav .d2 a{
    color: gray;
    font-size: 20px;
padding-left: 400px;    
text-decoration: underline;
}
.main h1{
    font-size: 30px;
}
.deals{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
.deals img{
    height: 400px;
    width: 90%;
}
.deals .sec1{
    width: 45%;
    height: 400px;

}
.deals .sec2{
    width: 45%;
    height: 400px;
}
.main .button{
    width: 85%;
    height: 55px;
    background-color: rgb(55, 200, 55);
    border: 1px solid black;
    border-radius: 5px;
}
.main button a{
    color: white;
    font-weight: 700;
    font-size: 20px;
    text-decoration: none;
}
.main .button:hover{
    background-color: green;
}
.footer{
    width: 100%;
    height: 550px;
    color: white;
    background-color: black;
    
}
.footer .f1{
height: 180px;
width: 100%;
display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;
}
.footer .f2{
    width: 100%;
    height: 90px;
    align-items: center;
    /* background-color: white; */
}
.footer .f3{
    width: 100%;
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f3 .div1{
    width: 50%;
    display: flex;
    align-items: center;
    padding-left: 200px;
}
.f3 .div2{
    width: 50%;
    padding-left: 100px;
}
.art2 .b1{
 background-color: white;
 
 width: 150px;
 height: 40px;
 

}
.art2 .b1 a{
    color: black;
    font-size: 20px;
}
.art2 .b1:hover{
    background-color: rgb(200, 198, 198);
}
.f3 .div2 i{
    font-size: 20px;
    color: white;
}