.nav{
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    background-color: white;
}

.nav .d1 img{
    height: 50px;
    width: 200px;
    padding-left: 180px;
}
.main{
    background-color: white;
    height: 520px;
    border: 1px solid rgb(163, 162, 162);
    border-radius: 5px;
    width: 550px;
    position: absolute;
    left: 30%;
    padding: 15px;
}
.main label{
    font-size: 20px;
}
.main input{
    height: 30px;
    width: 500px;
    padding-left: 30px;
    
}
button{
    font-size: 20px;
    font-weight: 700;
    height: 40px;
    width: 550px;
    color: white;
    border-radius: 5px;
    background-color: rgb(69, 197, 69);
}
button:hover{
background-color: green;
}
button a{
    color: white;
    text-decoration: none;
}